@import '../themes/baseTheme.scss';

.order {
	display: flex;
	align-items: center;
	margin: $base-padding 0;
	@include media-min-max($phone-min-old, $tablet-min - 1px){
		flex-direction: column;
		align-items: center;
	}
	&__adress{
		position: relative;
		margin-left: $base-padding;
	}
	&__autocomplete-option{
		border: 1px solid grey;
		background: lighten($color: $secondary-background-color, $amount: 5);
	}
	&__autocomplete-option {
		margin-top: 5px;
		box-shadow: 0.5px 0.5px 1px $border-color;
		transition: background-color 0.1s ease-out;
	}
	&__autocomplete-option:focus {
		box-shadow: 1.5px 1.5px 1px $border-color;
		background-color: $secondary-background-color;
		outline: none;
	}
	&__autocomplete-option:hover {
		box-shadow: 1.5px 1.5px 1px $border-color;
		background-color: $secondary-background-color;
	}
	&__autocomplete-text{
		width: $base-width;
		border: none;
		outline: none;
		font-size: 1.25rem;
		background-color: darken($color: $primary-background-color, $amount: 3);
		border-radius: 1%;
		box-shadow: 0.5px 0.5px 1px $border-color;
		transition: box-shadow 0.2s ease-out, background-color 0.2s ease-out;
		@include media-min-max($phone-min-old, $tablet-min - 1px){
			margin-top: 20px;
		}
		@include media-min-max($phone-min-old, $base-width + 100px){
			width: auto;
		}
	}

	&__autocomplete-text:focus{
		box-shadow: 1.5px 1.5px 1px $border-color;
		background-color: $secondary-background-color;
	}

	&__autocomplete-text:hover{
		background-color: lighten($color: $secondary-background-color, $amount: 5)
	}

	&__autocomplete-list{
		width: $base-width;
		position: absolute;
		z-index: 2;
		margin: 0;
		padding: 0;
		list-style: none;
		background: transparent;
		@include media-min-max($phone-min-old, $base-width + 100px){
			width: auto;
		}
	}
	&__autocomplete-list:focus{
		background: rgba($color: #000000, $alpha: 0.1);
		outline: none;
	}
}