@import '../themes/baseTheme.scss';
#map {
	height: $base-width;
	width: $base-width;
	// border: $border-default;
	border-radius: 1%;
	box-shadow: $small-shadow;
	margin: $base-padding 0;
	@include media-min-max($base-width, $base-width + 100px){
		width: $base-width - 100px;
	}
	@include media-min-max($phone-min, $base-width - 1px){
		width: $base-width - 200px;
	}
}