@import '../themes/baseTheme.scss';
.order__selected-crew{
	display: flex;
	align-items: center;
	@include media-min-max($phone-min, $base-width + 100px){
		flex-direction: column;
	}
	h2 {
		margin-right: $base-padding;
		@include media-min-max($phone-min, $base-width + 100px){
			margin: $base-padding 0;
		}
	}
	&-data {
		display: flex;
		align-items: center;
		width: 300px;
		box-shadow: $small-shadow;
		border-radius: $crew-border-radius;
		@include media-min-max($phone-min, $base-width + 100px){
			margin: $base-padding 0;
			height: 110px;
		}
		h2 {
			@include media-min-max($phone-min, $base-width + 100px){
				margin: $base-padding / 2 0;
			}
		}
	}
	&-image {
		width: 100px;
		height: 100px;
	}
	&-info {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
}